@import 'fonts';
@import 'normalize';

header, main, footer{
	margin: 0 auto;
	padding: 0 12px;
	max-width: 760px;
}
.introduction{
	margin: 2.8em 0;
}
.portfolio-link{
	text-align: center;
	padding: 2em .8em 1em;
	transition: background-color 0.2s ease;
}
a.portfolio-link{
	width: 100%;
	display: block;
}
.portfolio-link:hover{
	background-color: #f7f7f7;
}
.divider{
	display: block;
	width: 100%;
	border-radius: 20%;
	border: 1px #3E3A3A solid;
	margin: 1em 0;
	clear: both;
}
.image{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 2px #3E3A3A solid;
	margin: 0 auto 2em;
	clear: both;
}
.bbwf, .ta, .chris, .ash, .andy, .andy-abbie, .template, .bakers{
	background-position: center center;
	background-size: 120px 120px;
}
.bbwf{
	background-image: url(images/bbwf_small.jpg);
	background-color:#667;
}	
.ta{
	background-image: url(images/ta_small.png);
	background-color:#654;
	background-size: 115px 115px;
}	
.chris{
	background-image: url(images/chris-oldfield_small.png);
	background-color:#666;
}
.ash{
	background-image: url(images/ash_small.jpg);
	background-color: #A37486;	
}
.andy{
	background-image: url(images/andy_small.jpg);
	background-color: #FF00FF; 	
}
.andy-abbie{
	background-image: url(images/andy-abbie_small.jpg);
	background-color: #384C65; 	
}
.template{
	background-image: url(images/template_small.png);
	background-color: #E7E850; 	
}
.bakers{
	background-image: url(images/bakers_small.jpg);
	background-color: #B86C6E; 	
}
article{
	clear: both;
	margin: 0;
	h3{
		font-size: 1.34em;
	}
}
footer{
	padding: 1em 12px 1.2em;
	div{
		display: inline-block;
	}
	object{
		height: 48px;
	}
}
a.svg {
  	position: relative;
  	display: inline-block;
  	margin: 0 .5em 0 0;
}
a.svg:after {
  	content: ""; 
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left:0; 
}
// @media screen and (min-width: 750px) {
// 	.portfolio-link{
// 		text-align: left;
// 		padding: 0;	
// 	}
// 	a.portfolio-link{
// 		margin: 2em 0;
// 	}
// 	.image{
// 		float: left;
// 	}
// 	article{
// 		clear: none;
// 		float: left;
// 		margin: 1em 0 0 2em;
// 	}
// 	.divider{
// 		border-top: 115em 0;
// 	}
// }
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 144dpi) { 
.bbwf{
	background-image: url(images/bbwf_medium.jpg);
}
.ta{
	background-image: url(images/ta_medium.png);
}
.chris{
	background-image: url(images/chris-oldfield_medium.png);
}
.ash{
	background-image: url(images/ash_medium.jpg);		
}
.andy{
	background-image: url(images/andy_medium.jpg);	
}
.andy-abbie{
	background-image: url(images/andy-abbie_medium.jpg);	
}
.template{
	background-image: url(images/template_medium.png);	
}
.bakers{
	background-image: url(images/bakers_medium.jpg);	
}
}
@media 
(-webkit-min-device-pixel-ratio: 3), 
(min-resolution: 320dpi) { 
.bbwf{
	background-image: url(images/bbwf_large.jpg);
}
.ta{
	background-image: url(images/ta_large.png);
}
.chris{
	background-image: url(images/chris-oldfield_large.png);
}
.ash{
	background-image: url(images/ash_large.jpg);		
}
.andy{
	background-image: url(images/andy_large.jpg);	
}
.andy-abbie{
	background-image: url(images/andy-abbie_large.jpg);	
}
.template{
	background-image: url(images/template_large.png);	
}
.bakers{
	background-image: url(images/bakers_large.jpg);	
}
}
// .portfolio-link img{
// 	border-radius: 50%;
// }