<header class="main_header">
  <canvas class="main_header__canvas" id="canvas" width="2000" height="600"></canvas>
  <nav class="main_header__nav">
    {% for link in site.links %}
      <a href="{{ link.url }}" class="nav__anchor{% if link.url == page.url %} active{% endif %}">{{ link.title }}</a>
    {% endfor %}
      <a href="/blog" class="nav__anchor{% if page.url == '/blog' or page.path contains "_posts/" %} active{% endif %}">Blog</a>
  </nav>

  <h1 class="main_header__heading">{{ site.name }}</h1>
  <h2 class="main_header__subh">{{ site.subtitle }}</h2>
</header>
