$red : #f00;
$black : #161616;

@font-face {
  font-family: 'Foundation Sans Black';
  src: url('../fonts/FoundationSans-BlackEx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-v4020-Medium.otf') format('OpenType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  line-height: 1.56;
  font-feature-settings: "ss01" 1, "ss03" 0, "ss09" 1, "ss11" 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-numeric: lining-nums;
  font-size: 14px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .75s ease;
}

::-moz-selection {
  background: #7cd38d;
  color: #fff;
}
::selection {
  background: #7cd38d;
  color: #fff;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: #0a0a0a;
  &:active, &:hover {
      outline-width: 0;
  }
}
img {
  border-style: none;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}

i, em {
font-style: italic;
}
b,
strong {
font-weight: bolder;
}

body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  background: #fff;
  color: #161616;
  letter-spacing: .0126em;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, figure {
  margin-bottom: 15px;
}
h2, h3, h4, h5, h6 {
	font-weight: 400;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.625rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.25rem;
}
p, li, h6 {
  font-size: 1.2125rem;
}
p {
	margin-bottom: 1.2em;
	color: $black;
}


blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 1.125rem;
  font-style: italic;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
  font-size: inherit;
}
 
.post code {
  padding: 1px 5px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background: #ededed;
}
 
pre.highlight {
  padding: 8px 12px;
  overflow-x: auto;
  background: #282923;
  & > code {
    border: 0;
    padding: 0;
    font-size: 1.025rem;
    background-color: transparent;
  }
}

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  display: block;
  overflow-x: scroll;
  tr {
    &:nth-child(2n) {
      background-color: #f7f7f7;
    }
  }
  th, td {
    padding: 10px 15px;
    font-size: 16px;
  }
  th {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    font-weight: 400;
  }
  td {
    border: 1px solid #e8e8e8;
  }
}

ul, ol {
  margin-left: 30px;
}