h1, .main_header__subh, .main_header__nav {
	margin: 0 0 0.2rem;
	position: relative;
	z-index: 1;
}
h1, .main_header__subh, .gr__heading, .intro__heading {
	color: #fff;
	font-family: 'Foundation Sans Black', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: initial;
}
h1 {
	font-size: 26px;
	letter-spacing: .06em;
}
.main_header {
	border-bottom: 2px solid $black;
	height: 50vw;
	overflow: hidden;
	padding: 1.6vw 4vw;
	position: relative;
}
.main_header__cont {
	left: 4vw;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.main_header__subh {
	font-size: 18px;
	line-height: 1.15;
	max-width: 19ch;
}
.main_header__nav {
    text-align: right;
}
.nav__anchor {
	color: #fff;
	font-size: 16px;
	padding: 0 0 0 1.12em;
	&.active {
		text-decoration: underline;
	}
}
.main_header__canvas {
	background-color: $black;
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.intro, .blog_home, .post {
	margin: 0 auto;
	max-width: 960px;
	padding: 88px 4vw 100px;
}
.intro__heading {
	color: $black;
	font-size: 22px;
	letter-spacing: .06em;
	margin: 0 0 .6em;
}
.intro__para {
	margin-bottom: .4em;
}
.blog_home, .post {
	max-width: 860px;
}
.gr {
	padding: 1.6vw 4vw;
}
.gr__section {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 0 140px;

}
.gr__img {
	border: 1px solid darkgrey;
	display: flex;
}
.gr__heading {
	color: $black;
	font-size: 17.8px;
	letter-spacing: .11em;
	margin: 0 0 0.488em;
	text-decoration: underline transparent;
	text-transform: uppercase;
}
.gr__para {
	font-size: 16.8px;
}
.gr__inner {
	max-width: 700px;
	display: block;
	&:hover, &:active {
		.gr__heading {
			text-decoration: underline $black;
		}
	}
}
.box_shadow_hovr {
	border: 1px solid darkgray;
	border-radius: 4px;
	margin: 16px 0 22px;
	padding: 22px 16px;
	&:hover, &:active {
		box-shadow: .5rem .75rem .75rem rgba(2,2,2,.1);
	}
}
.gr__ft {
	font-size: 19px;
	margin: 0.8em 0 0.6em;
}
.tag_cont {
    list-style: none;
	margin: 0;
}
.tag_cont li, .dt-published {
	display: inline flow-root list-item;
	font-size: 14px;
	list-style: inside;
	padding: 0 .6em 0 0;
}
.main_footer {
	border-top: 2px solid $black;
	display: flex;
	flex-direction: row;
	margin: auto 0 0;
	padding: 0 8px 0 21px;
	h3 {		
		font-size: 14px;
		margin: 0;
	}
}
.social {
    border-right: 2px solid $black;
    padding: 8px 32px 8px 0;
}
.icon_text {
	text-decoration: underline transparent;
}
.social__link {
    align-items: center;
    display: flex;
    flex-direction: row;
	&:hover {
		.icon_text {
			text-decoration: underline solid;
		}
	}
}
.social__icon {
    margin: 7.5px 12px;
    width: 28px;
}
.footer_info {
	margin: 8px 2px 8px 32px
}
.fi__item {
	align-items: center;
	display: flex;
	height: 43px;
	justify-content: center;
}
.fi__item__a {
	text-decoration: underline solid;
}

// blog styling
.post-content {
	h2, h3 {
		margin-top: 60px;
	}
}
.post-header {
    margin-bottom: 30px;
}
.post-list {
	margin: 0 auto;
}
.post-title {
	font-size: 2.42rem;
	letter-spacing: 0;
	line-height: 1.15;
	margin-bottom: 1.12rem;
}
.post-meta {
    font-size: 16px;
	margin-bottom: 1.38rem;
}
.post-list-heading {
	font-size: 36px;
	margin: 0 0 .88rem;
}
.post-list {
	li {
		list-style: none;	
	}
	h3 {
		font-size: 1.625rem;
		text-decoration: underline transparent;
	}
	a {
		display: block;
	}
}
.post-link {
	&:hover {
		h3 {
			text-decoration: underline solid;
		}
	}
}
.rss-subscribe {
	display: inline-block;
	font-size: 16px;
	margin: 48px 0;
	text-decoration: underline transparent;
	&:hover {
		text-decoration: underline solid;
	}
}
.svg-icon {
	display: inline-block;
    fill: currentColor;
    height: 16px;
    margin: 0 8px 4px 0;
    vertical-align: text-bottom;
    width: 16px;
}
.orange {
    color: #f66a0a;
}

@supports (-webkit-text-stroke: .05em #fff) {
	h1, .main_header__subh {
		-webkit-text-fill-color: $black;
		-webkit-text-stroke: .05em #fff;
	}
}


@media only screen and (min-width: 370px) {
	.main_footer {
		h3 {
			font-size: 16px;
		}
	}
}
@media only screen and (min-width: 600px) {
	html {
		font-size: 14.8px;
	}
	.main_header {	
		height: 30vw;
		padding: 1.6vw 2vw;
	}
	.gr {
		padding: 1.6vw 2vw;
	}
	.gr__heading {
		font-size: 20px;
	}
	.intro, .blog_home, .post {
		padding: 128px 38px 144px;
	}
	.intro__heading {
		font-size: 28px;
	}
	.post-list-heading {
		font-size: 40px;
	}
}
@media only screen and (min-width: 800px) {
	html {
		font-size: 16px;
	}
	.gr__section {
		margin: 0 auto 220px;
		width: 700px;
	}
}

@media only screen and (min-width: 1000px) {
	.blog_home, .post {
		border-left: 2px solid $black;
	}
}

@media only screen and (min-width: 1100px) {
	.main_header {	
		height: 20vw;
	}
	.main_header__gradient {
		&:nth-of-type(4) {
			width: 47%;
		}
	}
}

@media only screen and (min-width: 1640px) {
	h1 {
		font-size: 38px;
	}
	.main_header__subh {
		font-size: 24px;
	}
	.nav__anchor {
		font-size: 18.2px;
	}
}

@media (prefers-color-scheme: dark) {
	body, a, .gr__heading {
		color: #eee;
	}
	table {
		th {
			background-color: #282923;
		}
		tr:nth-child(2n) {
			background-color: darken(#282923, 4%);
		}
	}
	.tag_cont li, .dt-published {
		background: #3a3a3a;
		color: #eee;
	}
	.main_header, body {
		background: $black;
	}
	h1, .main_header__subh, .intro__heading {
		-webkit-text-stroke: .05em $black;
		-webkit-text-fill-color: #fff;
	}
	h3, p {
		color: #eee;
	}
	.post code {
		background: #282923;
	}
	.mh_g0:after {
		content: "";
		background: rgba(#000, .7);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.social__icon {
		filter: invert(100%);
	}
	.main_header {	
		border-bottom: 2px solid #eee;
	}
	.main_footer {
		border-top: 2px solid #eee;
	}
	.social {
		border-right: 2px solid #eee;
	}
	.gr__inner {	
		&:hover, &:active {
			.gr__heading {
				text-decoration: underline #eee;
			}
		}
	}
	.blog_home, .post {
		border-left: 2px solid #eee;
	}
}