---
layout: default
---

<div class="blog_home">
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="intro__heading post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <a class="post-link box_shadow_hovr" href="{{ post.url | relative_url }}">
          <h3>{{ post.title | escape }}</h3>
          {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}
          <p class="post-meta"><time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_long_string }}</time></p>
          {%- if site.show_excerpts -%}
            <p>{{ post.excerpt | strip_html}}</p>
          {%- endif -%}
        </a>
      </li>
      {%- endfor -%}
    </ul>

    <a href="{{ "/feed.xml" | relative_url }}"><p class="rss-subscribe"><svg class="svg-icon orange"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg>Subscribe via RSS</p></a>
  {%- endif -%}

</div>
