@font-face {
    font-family: 'Foundation Sans Black';
    src: url('fonts/FoundationSans-BlackEx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-v4020-Medium.otf') format('OpenType');
    font-weight: 500;
    font-style: normal;
}